## Atabey's notes

### Round 1

This is a good proposal. It is a simple question, but you explained it well. You must state your hypothesis explicitly: there is a functional linear relationship between Turkey's core inflation numbers and exchange rate, money supply and interest rate. I also like the fact that you are suing several datasets from different sources. It would help more if you showed a sample from each dataset. Also add a calendar: what are you going to do and when.

### Round 2

Looks good. Go ahead.

          Turkey's Inflation Analysis

Team Members

Bora Kaya

In this project I am going to analysis Turkey's inflation with 5 parameters.
My depended variable is inflation obviously,and undepended variables are exchange rates,interest rate,money supply,producer inflation,core inflation.First of all,I gonna visualize these datas.
Then,I am planning to these models to identify the model that best explains inflation:Linear Regression,Decision Tree Regressor,Random Forest Regressor,,K Neighbor Regressor,Support Vector.

After these steps I gonna visualize these models scores to show best model.

Datasets

Inflation:https://data.tuik.gov.tr/Bulten/Index?p=Tuketici-Fiyat-Endeksi-Ekim-2022-45799(I will use TÜİK's last inflation report.)

Exchange Rate:https://tr.investing.com/currencies/usd-try-historical-data(I will use monthly average usd/try rate)

Money Supply:https://evds2.tcmb.gov.tr/index.php?/evds/serieMarket/#collapse_4(I will use Turkey Central Bank website.I selected "Haftalık Para Arzı" and downloaded the report.I will use monthly money supply.)

Interest Rate:https://evds2.tcmb.gov.tr/index.php?/evds/dashboard/1441( Selected Weighted Average Cost of the CBRT Funding and Total Funding)

Core Inflation:https://data.tuik.gov.tr/Bulten/Index?p=Tuketici-Fiyat-Endeksi-Ekim-2022-45799(I will use groupc C in table special comprehensive CPI indicators.)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
cpi=pd.read_excel("./Datasets/tuketici fiyat endeksi (2003=100).xls")
#print(cpi[cpi['Tüketici fiyat endeks rakamları (2003=100)']=='Annual rate of change (%)'])
#print(cpi.iloc[76:98])
inflation=cpi.iloc[79:98]
inflation

,Tüketici fiyat endeks rakamları (2003=100),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
79,2004,10.59,9.48,8.4,7.87,7.31,7.08,7.79,8.45,8.01,9.43,9.47,9.35
80,2005,9.23,8.69,7.94,8.18,8.7,8.95,7.82,7.91,7.99,7.52,7.61,7.72
81,2006,7.93,8.15,8.16,8.83,9.86,10.12,11.69,10.26,10.55,9.98,9.86,9.65
82,2007,9.93,10.16,10.86,10.72,9.23,8.6,6.9,7.39,7.12,7.7,8.4,8.39
83,2008,8.17,9.1,9.15,9.66,10.74,10.61,12.06,11.77,11.13,11.99,10.76,10.06
84,2009,9.5,7.73,7.89,6.13,5.24,5.73,5.39,5.33,5.27,5.08,5.53,6.53
85,2010,8.19,10.13,9.56,10.19,9.1,8.37,7.58,8.33,9.24,8.62,7.29,6.4
86,2011,4.9,4.16,3.99,4.26,7.17,6.24,6.31,6.65,6.15,7.66,9.48,10.45
87,2012,10.61,10.43,10.43,11.14,8.28,8.87,9.07,8.88,9.19,7.8,6.37,6.16
88,2013,7.31,7.03,7.29,6.13,6.51,8.3,8.88,8.17,7.88,7.71,7.32,7.4
89,2014,7.75,7.89,8.39,9.38,9.66,9.16,9.32,9.54,8.86,8.96,9.15,8.17
90,2015,7.24,7.55,7.61,7.91,8.09,7.2,6.81,7.14,7.95,7.58,8.1,8.81
91,2016,9.58,8.78,7.46,6.57,6.58,7.64,8.79,8.05,7.28,7.16,7,8.53
92,2017,9.22,10.13,11.29,11.87,11.72,10.9,9.79,10.68,11.2,11.9,12.98,11.92
93,2018,10.35,10.26,10.23,10.85,12.15,15.39,15.85,17.9,24.52,25.24,21.62,20.3
94,2019,20.35,19.67,19.71,19.5,18.71,15.72,16.65,15.01,9.26,8.55,10.56,11.84
95,2020,12.15,12.37,11.86,10.94,11.39,12.62,11.76,11.77,11.75,11.89,14.03,14.6
96,2021,14.97,15.61,16.19,17.14,16.59,17.53,18.95,19.25,19.58,19.89,21.31,36.08
97,2022,48.69,54.44,61.14,69.97,73.5,78.62,79.6,80.21,83.45,85.51,NaN,NaN

In [4]:
currency=pd.read_csv("./Datasets/USD_TRY Geçmiş Verileri.csv")
currency=pd.DataFrame(currency["Şimdi"])
currency

       Şimdi
0     1,3410
1     1,3270
2     1,3135
3     1,4206
4     1,4895
..       ...
222  17,9114
223  18,1868
224  18,5000
225  18,5920
226  18,6217

[227 rows x 1 columns]

In [5]:
money_supply=pd.read_excel("./Datasets/EVDS.xlsx")
del money_supply['Unnamed: 2']
money_supply = money_supply.dropna(axis=0)
#Monthly money supply
money_supply

           Tarih                TP PR ARZ13
23       2005-12                  237948998
24       2006-01                  237353435
25       2006-02                  242389476
26       2006-03                  249485702
27       2006-04                  252191859
..           ...                        ...
224      2022-09               7489660208.8
225      2022-10               7778385206.4
226      2022-11               7934882645.3
230  TP.PR.ARZ13           M2(Bin TL)-Düzey
233  TP.PR.ARZ13  Uygulama Değişiklik Linki

[206 rows x 2 columns]

In [6]:
interest=pd.read_excel("./Datasets/TCMB Ortalama Fonlama Faizi ve Toplam Fonlama Miktar__.xlsx")
del interest['Unnamed: 2']
interest.iloc[:142]

       Tarih TP APIFON4
0    2011-01       6.25
1    2011-02       6.25
2    2011-03       6.25
3    2011-04       6.25
4    2011-05       6.25
..       ...        ...
137  2022-06      14.05
138  2022-07         14
139  2022-08         13
140  2022-09      12.04
141  2022-10       10.5

[142 rows x 2 columns]

In [7]:

corecpi=pd.read_excel("./Datasets/ozel kapsamli tufe gostergeleri (2003=100).xls")
#corecpi[corecpi['Özel kapsamlı TÜFE göstergeleri (2003=100)']=='Annual rate of change (%)']
core=corecpi.iloc[105:]
core[core['Özel kapsamlı TÜFE göstergeleri (2003=100)']=='C(2)']
core=core.loc[112]
core=core.dropna(axis=0)
core=core.to_frame()
core=core.transpose()
core

,Özel kapsamlı TÜFE göstergeleri (2003=100),Unnamed: 1,Unnamed: 2,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,...,Unnamed: 231,Unnamed: 232,Unnamed: 233,Unnamed: 234,Unnamed: 235,Unnamed: 236,Unnamed: 237,Unnamed: 238,Unnamed: 239,Unnamed: 240
112,C(2),"Enerji, gıda ve alkolsüz içecekler, alkollü iç...","CPI excluding energy, food and non-alcoholic b...",12.09,11.51,10.5,9.62,9.59,9.34,9.12,...,39.45,44.05,48.39,52.37,56.04,57.26,61.69,66.08,68.09,70.45

![Alt text](https://i.hizliresim.com/dxdb2rc.png)